{include file="default/user/header" title="修改密码" /}
<main id="main-container">
                <div class="content">
                    <div class="block">
                        <div class="block-header">
                            <h3 class="block-title">修改密码</h3>
                        </div>
                        <div class="block-content">
    <ul class="nav nav-pills nav-tabs-custom nav-justified" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" data-toggle="tab" href="#jmmyz" role="tab" aria-selected="true">
							密码验证						</a>
					</li>
					
					<li class="nav-item">
						<a class="nav-link" data-toggle="tab" href="#yxyz" role="tab" aria-selected="false">
								邮箱验证					</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" data-toggle="tab" href="#sjyz" role="tab" aria-selected="false">
								手机验证					</a>
					</li>
					
				</ul>   
				<div class="tab-content text-muted">    
				             
     <div id="jmmyz" class="tab-pane active" role="tabpanel">
                                          
     <br/>                                                                                   <form id="form1">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group row">
                                            <label class="col-12">旧密码</label>
                                            <div class="col-12">
                                                <input type="text" name="userPwd" placeholder="请输入旧密码" class="form-control text-primary font-size-sm" autocomplete="off">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-12">新密码</label>
                                            <div class="col-12">
                                                <input type="text" name="newUserPwd" placeholder="请输入新密码" class="form-control text-primary font-size-sm" autocomplete="off">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-12">确认新密码</label>
                                            <div class="col-12">
                                                <input type="text" name="newUserRepwd" placeholder="再次输入新密码" class="form-control text-primary font-size-sm" autocomplete="off">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-12">
                                                <button type="submit" class="btn btn-primary btn-block">修改</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
             </div>
             
    <div id="yxyz" class="tab-pane" role="tabpanel"><br/>
                                <form id="form2">
                                <div class="row">
                                    <div class="col-lg-12">

                                        <div class="form-group row">
                                            <label class="col-12">邮箱</label>
                                            <div class="col-12">
                                                <input type="text" name="mail" value="{$user.mail}" class="form-control form-control-alt form-control-lg font-size-sm" readonly>
                                            </div>
                                        </div>

                                                    <div class="form-group row">

                                                    <div class="col-6">
                                                        <input type="text" class="form-control form-control-alt form-control-lg font-size-sm" name="captcha" placeholder="验证码">
</div>

                                                    <div class="col-6">
 <img width="100%" height="50px" id="randimg" src="{:captcha_src()}" onclick="this.src='{:captcha_src()}?'+Math.random();"/>
</div>
                                                    </div>


	<div class="form-group">
									<div class="input-group">
										<input type="text" class="form-control form-control-alt form-control-lg font-size-sm" id="code" name="code" placeholder="请输入邮箱验证码" required>
										<div class="input-group-append">
											<button class="btn btn-primary" type="button" style="line-height:33px;" onclick="validate()">获取验证码</button>
										</div>
									</div>
								</div>


                                        <div class="form-group row">
                                            <label class="col-12">新密码</label>
                                            <div class="col-12">
                                                <input type="text" name="newpass" value="" placeholder="请输入新的密码" class="form-control form-control-alt form-control-lg font-size-sm">
                                            </div>
                                        </div>


                                        <div class="form-group row">
                                            <div class="col-12">
                                                <button type="submit" class="btn btn-primary btn-block">修改</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                                           </div>

    <div id="sjyz" class="tab-pane" role="tabpanel"><br/>
                                <form id="form3">
                                <div class="row">
                                    <div class="col-lg-12">

                                        <div class="form-group row">
                                            <label class="col-12">绑定手机号</label>
                                            <div class="col-12">
                                                <input type="text" name="phone" value="{$user.phone}" class="form-control form-control-alt form-control-lg font-size-sm" readonly placeholder="当前账号未绑定手机号">
                                            </div>
                                        </div>

                                                    <div class="form-group row">

                                                    <div class="col-6">
                                                        <input type="text" class="form-control form-control-alt form-control-lg font-size-sm" name="scaptcha" placeholder="图形验证码">
</div>

                                                    <div class="col-6">
 <img width="100%" height="50px" id="srandimg" src="{:captcha_src()}" onclick="this.src='{:captcha_src()}?'+Math.random();"/>
</div>
                                                    </div>


	<div class="form-group">
									<div class="input-group">
										<input type="text" class="form-control form-control-alt form-control-lg font-size-sm" id="scode" name="scode" placeholder="请输入短信验证码" required>
										<div class="input-group-append">
											<button class="btn btn-primary" type="button" id="smsbtn" style="line-height:33px;" onclick="smsvalidate()">获取验证码</button>
										</div>
									</div>
								</div>


                                        <div class="form-group row">
                                            <label class="col-12">新密码</label>
                                            <div class="col-12">
                                                <input type="text" name="snewpass" value="" placeholder="请输入新的密码" class="form-control form-control-alt form-control-lg font-size-sm">
                                            </div>
                                        </div>


                                        <div class="form-group row">
                                            <div class="col-12">
                                                <button type="submit" class="btn btn-primary btn-block">修改</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                                           </div>
                            
                            
                        </div>
                    </div>
                </div>
            </main>
            {include file="default/user/footer" /}
<script>
    $("#form1").submit(function (){
        var load = layer.msg('修改中，请稍后...',{icon:16,time:false});

        var userPwd = $("input[name='userPwd']").val();
        var newUserPwd = $("input[name='newUserPwd']").val();
        var newUserRepwd = $("input[name='newUserRepwd']").val();

        if(userPwd.length < 1 || newUserPwd.length < 1 || newUserRepwd.length < 1){
            layer.alert('不可为空',{icon:2});
            return false;
        }

        $.ajax({
            type:'POST',
            url:'',
            data:{
            act:"jmmxg",
                userPwd:userPwd,
                newUserPwd:newUserPwd,
                newUserRepwd:newUserRepwd,
            },
            dataType:'json',
            success:function (data){
                layer.close(load);
                if(data.code == 1){
                    layer.alert(data.msg,{icon:1});
                }else{
                    layer.alert(data.msg,{icon:2});
                }
            }
        });
        return false;
    });
    
    
    function validate() {
 var load = layer.msg('请求中,请稍候...',{icon:16,time:false});

var captcha = $("input[name='captcha']").val();

        if(captcha.length < 1){
            layer.alert('验证码不可为空！',{icon:2});
            return false;
        }
        $.ajax({
            type:'POST',
            url:'',
            data:{
           act:"validate",
          captcha:captcha,
            },
            dataType:'json',
            success:function (data){
                layer.close(load);
                if(data.code == 1){
                    layer.alert(data.msg,{icon:1});
                }else{
document.getElementById("randimg").src='{:captcha_src()}?'+Math.random();
                    layer.alert(data.msg,{icon:2});
                }
            }
        });
        return false;
  }
 $("#form2").submit(function (){
        var load = layer.msg('修改中，请稍后...',{icon:16,time:false});

        var newpass = $("input[name='newpass']").val();
        var code = $("input[name='code']").val();

        if(newpass.length < 1 | code.length < 1){
            layer.alert('必填项不可为空！',{icon:2});
            return false;
        }

        $.ajax({
            type:'POST',
            url:'',
            data:{
                act:"yxmmxg",
                code:code,
                newpass:newpass,
            },
            dataType:'json',
            success:function (data){
                layer.close(load);
                if(data.code == 1){
setTimeout(function (){
                   location.href = ''
},1000);
                    layer.alert(data.msg,{icon:1});
                }else{
                    layer.alert(data.msg,{icon:2});
                }
            }
        });
        return false;
    });

    // ===== 手机验证修改密码 =====
    var smsCountdown = 0;
    function smsvalidate() {
        var scaptcha = $("input[name='scaptcha']").val();
        if(scaptcha.length < 1){
            layer.alert('图形验证码不可为空！',{icon:2});
            return false;
        }
        if(smsCountdown > 0){ return false; }
        var load = layer.msg('发送中,请稍候...',{icon:16,time:false});
        $.ajax({
            type:'POST',
            url:'',
            data:{
                act:"smsvalidate",
                captcha:scaptcha,
            },
            dataType:'json',
            success:function (data){
                layer.close(load);
                if(data.code == 1){
                    layer.alert(data.msg,{icon:1});
                    // 60秒倒计时
                    smsCountdown = 60;
                    var btn = document.getElementById('smsbtn');
                    var timer = setInterval(function(){
                        smsCountdown--;
                        btn.innerHTML = smsCountdown + '秒后重发';
                        if(smsCountdown <= 0){
                            clearInterval(timer);
                            btn.innerHTML = '获取验证码';
                        }
                    },1000);
                }else{
document.getElementById("srandimg").src='{:captcha_src()}?'+Math.random();
                    layer.alert(data.msg,{icon:2});
                }
            }
        });
        return false;
    }
    $("#form3").submit(function (){
        var load = layer.msg('修改中，请稍后...',{icon:16,time:false});

        var snewpass = $("input[name='snewpass']").val();
        var scode = $("input[name='scode']").val();

        if(snewpass.length < 1 | scode.length < 1){
            layer.close(load);
            layer.alert('必填项不可为空！',{icon:2});
            return false;
        }

        $.ajax({
            type:'POST',
            url:'',
            data:{
                act:"smmxg",
                code:scode,
                newpass:snewpass,
            },
            dataType:'json',
            success:function (data){
                layer.close(load);
                if(data.code == 1){
setTimeout(function (){
                   location.href = ''
},1000);
                    layer.alert(data.msg,{icon:1});
                }else{
                    layer.alert(data.msg,{icon:2});
                }
            }
        });
        return false;
    });
</script>
