 {include file="default/header" title="控制台"/}
<!--页面主要内容-->
    <main class="lyear-layout-content">

      <div class="container-fluid">

        <div class="row">



          <div class="col-md-6 col-xl-6">
            <div class="card bg-primary text-white">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <span class="avatar-md rounded-circle bg-white bg-opacity-25 avatar-box">
                    <i class="mdi mdi-currency-cny fs-4"></i>
                  </span>
                  <span class="fs-4">{$paymoney}</span>
                </div>
                <div class="text-end">总收入</div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-xl-6">
            <div class="card bg-success text-white">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <span class="avatar-md rounded-circle bg-white bg-opacity-25 avatar-box">
                    <i class="mdi mdi-currency-cny fs-4"></i>
                  </span>
                  <span class="fs-4">{$paymoney1}</span>
                </div>
                <div class="text-end">今日收入</div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-xl-6">
            <div class="card bg-danger text-white">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <span class="avatar-md rounded-circle bg-white bg-opacity-25 avatar-box">
                    <i class="mdi mdi-account fs-4"></i>
                  </span>
                  <span class="fs-4">{$usercount}</span>
                </div>
                <div class="text-end">用户总数</div>
              </div>
            </div>
          </div>



          <div class="col-md-6 col-xl-6">
            <div class="card bg-purple text-white">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <span class="avatar-md rounded-circle bg-white bg-opacity-25 avatar-box">
                    <i class="mdi mdi-comment-outline fs-4"></i>
                  </span>
                  <span class="fs-4">{$ticketcount}</span>
                </div>
                <div class="text-end">待处理工单</div>
              </div>
            </div>
          </div>

        </div>

        <div class="row">

<div class="col-lg-12">
            <div class="card">
              <header class="card-header"><div class="card-title">介绍</div></header>
              <div class="card-body">

                  
      
                    <div class="lyear-timeline-item-content">
                      <div class="card bg-success">
                        <div class="card-body text-white">
                                       <p>欢迎使用全新的虚拟主机销售系统<br/>由于本人是第一次制作主机销售系统,有什么不足的地方或者有好的建议欢迎提交给我<br/>后台采用Light Year Admin V5模板<br/>作者QQ：2150811531<br>
QQ群:905412821</p>
                        </div>
                      </div>
                    </div>
                 



                </ul>

              </div>
            </div>
          </div>



        </div>

      </div>

    </main>
    <!--End 页面主要内容-->
 {include file="default/footer" /}